<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>

<body>
<h1>•••••••••</h1>
<button id="stream" type="button" onclick="/stream">stream</button>
<button id="watch" type="button" onclick="/watch">watch</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/script.js"></script>
</body>

</html>